
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Candal&family=Noto+Sans+JP&family=Roboto&display=swap');
header{
    float: right;
    background-color: black;
    width: 100%; 
    padding:10px;

    
}
a{
    padding: 20px;
    color: white;
}
button{
    background-color: white;

}
.y1{
    height: 200px;
    width: 100%;
    background-color:black;
}


.o1{
    height: 197px;
    width: 226px;
    margin-left: 713px;
    margin-top: -40px;
}


#head{
    float: right;
}
.u1{
    width: 100%;
}
body{
    margin: 0%;
}
#b3{
    margin-left: 7%;
    margin-top: -46%;
    color: white;
    font-family: 'Candal', sans-serif;
    font-size: 50px;
}
   
