
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Candal&family=Lato:ital,wght@1,100&family=Lobster&family=Noto+Sans+JP&family=Permanent+Marker&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');
header{
    float: right;
    background-color: black;
    width: 100%; 
    padding:10px;

    
}
.l1{
    padding: 20px;
    color: white;
}
button{
    background-color: white;

}
.y1{
    height: 200px;
    width: 100%;
    background-color:black;
}


.o1{
    height: 197px;
    width: 226px;
    margin-left: 713px;
    margin-top: -40px;
}


#head{
    float: right;
}
.u1{
    width: 100%;
    filter: brightness(40%);
}
body{
    margin: 0%;
}
#b3{
    margin-left: 7%;
    margin-top: -46%;
    color: white;
    font-family: 'Candal', sans-serif;
    font-size: 50px;
    position: absolute;
}
.m1{
    color: white;
    font-family: 'Permanent Marker', cursive;
    

     

}
#one{
    
    text-decoration: none;
    margin-left: 3%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#two{
    
    text-decoration: none;
    margin-left: 17%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#three{
    
    text-decoration: none;
    margin-left: 31%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#four{
    
   
    text-decoration: none;
    margin-left: 59%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#four{
    
   
    text-decoration: none;
    margin-left: 59%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#five{
    
   
    text-decoration: none;
    margin-left: 69%;
    margin-top: 97px;
    color: white;
    padding: 10px;
    position: absolute;
}
#six{
    
   
    text-decoration: none;
    margin-left: 82%;
    margin-top: 99px;
    color: white;
    padding: 10px;
    position: absolute;
}
.CO1{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    margin-top: -25px;

}
#co1{
    margin-top: 169px;
    margin-left: 691px;
    font-family: 'Permanent Marker', cursive;
   position: absolute;
   font-size: 50px;
}
#co2{
    margin-top: 273px;
    margin-left: 495px;
    font-family: 'Candal', sans-serif;
    position: absolute;
    font-size: 25px;
}
.row{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
}
.col{
    width: 25%;
    height: 500px;
    float: left;
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    

}
.imu{
    width: 100%;
    height: 363px;
    float: left;
   
}
.ma{
    text-align: center;
}
#BUT1{
    margin-left: 652px;
    background-color: grey;
    color: black;
    font-size: 30px;
    font-family: 'Candal', sans-serif;

}
#BUT1:hover{
    color: white;
    background-color:rgb(171, 241, 66) ;
}
.head2{
    width: 100%;
    height: 200px;
}
#head2{
    width: 100%;
    filter: brightness(30%);
}
#po1{
    margin-left: 39%;
    margin-top: -59%;
    color: white;
    font-family: 'Candal', sans-serif;
    font-size: 50px;
    position: absolute;
}
#po2{
    margin-top: -891px;
    margin-left: 414px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 45px;
    color: white;

}
#vv1{
    margin-top: -593px;
    margin-left: 167px;
    font-family: 'Candal', sans-serif;
    position: absolute;
    font-size: 30px;
    color: white;
}
#vv2{
    width: 30%;
    height: 350px;
    margin-top: 41%;
    margin-left: -92%;
    position: absolute;
}
#vv3{
    margin-top: -592px;
    margin-left: 980px;
    font-family: 'Candal', sans-serif;
    position: absolute;
    font-size: 30px;
    color: white;
}
#vv4{
    width: 30%;
    height: 350px;
    margin-top: 41%;
    margin-left: -44%;
    position: absolute;
}
.moo1{
    height: 500px;
    width: 100%;
    background-color: red;
}
#men1{
    width: 100%;
    filter: brightness(20%);
    
}
.head3{
    height: 700px;
    width: 100%;
    position: absolute;
    margin-top: 52.14%;
    /* background-color: black; */

}
#men2{
   
    color: burlywood;
    font-family: "Permanent Marker", cursive;
    position: absolute;
    font-size: 350%;
    margin-top: -1097px;
    margin-left: 625px;
}

#men3{
    color: burlywood;
    font-family: 'Candal', sans-serif;
    position: absolute;
    font-size: 234%;
    margin-top: -548px;
    margin-left: 97px;
}
#men4{
    color: burlywood;
    font-size: 100%;
    position: absolute;
    font-family: 'Candal', sans-serif;
    margin-top: -449px;
    margin-left: 21px;
}
#vid2{
    height: 600px;
    width: 100%;
    zoom: 159%;
}
.vid1{
    width: 100%;
    position: absolute;
    height: 600px;
    margin-top: 2003px;
    background-color: burlywood;
    filter: brightness(70%);
    
}
.foot1{
    background-color: rgb(24, 1, 1);
    width: 100%;
    height: 250px;
    position: absolute;
    margin-top: 2936px;
    margin-left: 0%;
    color: white;
}
#foot1{
    color: white;
    font-size: 200%;
    margin-left: 60px;
}
#foot2{
    color: white;
    font-size: 100%;
    margin-left: 60px;
}
#foot3{
    color: white;
    font-size: 100%;
    margin-left: 60px;
}
#foot4{
    color: white;
    font-size: 100%;
    margin-left: 60px;
}

#foot5{
    color: white;
    font-size: 200%;
    margin-left: 287px;
    margin-top: -182px;
}
#foot6{
    color: white;
    font-size: 100%;
    margin-left: 287px;
    margin-top: -150px;
}
#foot7{
    color: white;
    font-size: 100%;
    margin-left: 287px;
}
#foot8{
    color: white;
    font-size: 100%;
    margin-left: 287px;
}

#foot9{
    color: white;
    font-size: 200%;
    margin-left: 490px;
    margin-top: -182px;
}
#foot10{
    color: white;
    font-size: 100%;
    margin-left: 490px;
    margin-top: -150px;
}
#foot11{
    color: white;
    font-size: 100%;
    margin-left: 490px;
}

#foot12{
    color: white;
    font-size: 200%;
    margin-left: 704px;
    margin-top: -143px;
}

#foot13{
    color: white;
    font-size: 100%;
    margin-left: 704px;
    margin-top: -150px;
}
#foot14{
    color: white;
    font-size: 100%;
    margin-left: 704px;
}
#footimg{
    width: 100%;
    height: 400px;
}
.kit1{
    background-color: rgb(24, 1, 1);
    color: white;
    position: absolute;
    margin-top: 175%;
    margin-left: 85%;
    font-size:xx-large;
}